# Dependencies
node_modules/
**/node_modules/

# Env & Secrets (PALING PENTING)
.env
.env.*
.dev.vars
**/.dev.vars

# Cloudflare Wrangler
.wrangler/
**/.wrangler/

# Build output
dist/
**/dist/
backend/public/

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
package-lock.json
package.json
**/backup-sebelum-deploy.sql

**/components.json